* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 75px;
    margin: 5%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 500px;
    height: 75px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 2rem;
}